# vim
*~
/compile_commands.json
*.swp
doc/compile_commands.json

# vscode
.vscode/

# clangd
.clangd/
.cache/

# doxygen
/doxy

# tags
/tags

######### build & generated packages #########
build/
_hpkg/
_hpb/
_deps/
_package/
_packages/
dist/

######### meson gen file #########
/haclog/haclog_config.h
